@use "src/styles/abstracts/mixins" as mixins;

article > header > button {
  @include mixins.card-action;
  box-shadow: none;
}

button {
  @include mixins.hover-outline;
  // box-shadow: var(--box-shadow);
  background-color: var(--bg2);
  border: solid 1px var(--border-color);
  padding: 0.5rem 1rem;
  border-radius: 4px;

  &:hover {
    background-color: var(--bg1);
  }

  &:disabled {
    color: var(--text-color-inverse);
    background-color: var(--bg);
    cursor: not-allowed;
  }  
}

.btn-flat {
  box-shadow: none;
  background: none;
  border: none;
  margin: 0;
  padding: 0;

  &:hover {
    outline: none;
  }
}
