article > header > button {
  box-shadow: none;
}

button {
  box-shadow: var(--box-shadow);
  background-color: var(--bg2);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: medium;
  color: var(--pico-primary);
  transition: color 0.5s;

  &:hover {
    color: var(--text-active);
    outline-style: solid;
    outline-color: var(--text-active);
    outline-width: 1px;
    background-color: var(--bg1);
    cursor: pointer;
  }

  &:disabled {
    color: var(--text-disabled);
    background-color: var(--bg1);
    cursor: not-allowed;
  }
}
