@use "src/styles/abstracts/mixins" as mixins;

article > header > button {
  @include mixins.card-action;
  box-shadow: none;
}

button {
  box-shadow: var(--box-shadow);
  background-color: var(--bg2);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: medium;
  color: var(--pico-primary);
  transition: color 0.5s;

  &:hover {
    color: var(--text-active);
    outline-style: solid;
    outline-color: var(--text-active);
    outline-width: 1px;
    background-color: var(--bg1);
    cursor: pointer;
  }

  &:disabled {
    color: var(--text-disabled);
    background-color: var(--bg1);
    cursor: not-allowed;
  }
}

.btn-flat {
  box-shadow: none;
  background: none;
  margin: 0;
  padding: 0;
  
  &:hover {
    outline: none;
  }
}
