@use "src/styles/abstracts/colors" as color;

.custom-form {
  color: color.$color-text-dark;
  //padding: style.$padding-1;
  padding: 1rem;

  form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: stretch;
  }
}

select, button, input {
  border: 1px solid;
  border-radius: 4px;
  padding: 0.6rem 0.4rem;
}

button {
  color: #000000a3;
  font-weight: bold;

  &.primary {
    background: color.$btn-primary;
  }

  &.warn {
    background: color.$btn-warn;
  }

  &.danger {
    background: color.$btn-danger;
  }
}

.left-icon {
  display: grid;
  grid-template-columns: 1fr 10fr;
}

.right-icon {
  display: grid;
  align-items: center;
  grid-template-columns: 10fr 1fr;
}

@media screen and (max-width: 844px) {
  .custom-form {
    height: calc(100% - 1rem * 2);

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    form {
    }

  }
}
