.title {
  font-weight: 100;
  text-align: center;
  padding: 0.8rem;

  .subtitle {
    font-size: 0.8rem;
  }

  &.space-between {
    display: grid;
    grid-auto-flow: column;
    align-content: center;
    justify-content: space-between;
    align-items: center;
  }

  //     &.grid {
  //       padding: 0 10px 0 10px;
  //       align-items: center;
  //       display: grid;
  //       grid-template-columns: 1fr 10fr 1fr;
  //       justify-items: stretch;
  //     }

  //     &.small {
  //       font-size: small;
  //     }

  //     &.subtitle {
  //       font-size: medium;
  //     }

  //     &.no-header {
  //     }
}

//   .custom-card-content {
//     // color: global.$color-text-dark;

//     &.padding {
//       padding: 0.8rem 0.6rem;
//     }
//   }

//   .custom-card-actions, .footer {
//     color: global.$color-text-dark;
//     padding: 0 0.4rem 0.4rem;
//   }

//   &.no-border {
//     border-radius: unset;
//     margin: unset;
//     border: unset;
//   }
// }

// @media screen and (max-width: 844px) {
//   .custom-card {
//     box-shadow: revert;

//     .title {
//       border-radius: revert;
//     }
//   }

// }
