$color-archived: #ddddd;
$color-todo: #d2d2d2;
$color-progress: #2556b3;
$color-done: #0fab3a;
$notice-me: #e600ff;

$toolbar-bg: #A8D6D6;
$btn-bg: #ffffff8c;
$color-text-light: #ffffff;
$color-text-dark: #1F2023FF;

$app-bg-main: #d2d2d2;
$layer-three-bg: #e4e4e4;
$layer-two-bg: #FFFFFF;
