$box-shadow: 4px 4px #000000 !important;
//$box-shadow: 2px 2px 2px #a2a2a2!important;
$task-width: 350px;
$task-height: 80px;
$font-family: monospace;
$font-large: 1rem;
$border-width-large: 4px;
$border-width-medium: 2px;
$border-width-small: 1px;
$border-style-bottom: none none solid none;

$dialog-large: 50rem;
$dialog-small: 25rem;

$dialog-padding: 16px;
