@use "src/styles/global/colors" as color;
@use "src/styles/global/style" as style;

.custom-form {
  color: color.$color-text-dark;
  //padding: style.$padding-1;
  padding: 1rem;

  form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: stretch;
  }
}

select, button, input {
  padding: 0.4rem;
  border: 1px solid;
  border-radius: 4px;

  margin: 0.4rem 0;
}

button {
  color: #000000a3;
  font-weight: bold;

  &.primary {
    background: color.$btn-primary;
  }

  &.warn {
    background: color.$btn-warn;
  }

  &.danger {
    background: color.$btn-danger;
  }
}

@media screen and (max-width: 844px) {
  .custom-form {
    height: calc(100% - 1rem * 2);

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    form {
    }

  }
}
