@use "src/styles/global/colors" as global;
@use "src/styles/global/style" as style;

.custom-card {
  width: inherit;
  height: inherit;

  .title {
    text-align: center;
    background: global.$toolbar-bg;
    color: global.$color-text-light;
    padding: 0.4rem 0.8rem;

    &.space-between {
      display: grid;
      grid-auto-flow: column;
      align-content: center;
      justify-content: space-between;
      align-items: center;
    }

    &.grid {
      padding: 0 10px 0 10px;
      align-items: center;
      display: grid;
      grid-template-columns: 1fr 10fr 1fr;
      justify-items: stretch;
    }

    &.small {
      font-size: small;
      font-weight: 400;
    }

    &.subtitle {
      font-size: medium;
      font-weight: 400;
    }

    &.no-header {
      font-weight: 400;
    }
  }

  .custom-card-content {
    margin: 0 0.4rem;
    background: global.$layer-three-bg;
    color: global.$color-text-dark;

    &.padding {
      padding: 0.8rem 0.6rem;
    }
  }

  .custom-card-actions {
    margin: 0 0.4rem;
    background: global.$layer-three-bg;
  }

  &.no-border {
    border-radius: unset;
    margin: unset;
    border: unset;
  }
}

@media screen and (max-width: 844px) {
  .custom-card {
    border-radius: unset;
  }

  mat-card-actions {
    margin: 0;
  }
}
