<dialog #dialogRef [attr.closing]="$isClosing() ? true : null">
  <div
    class="dialog-container custom-article"
    [class.full-screen]="fullScreen"
    *ngIf="$showDialog()"
  >
    <header>
      <!-- <a class="close" (click)="closeDialog()"> </a> -->
      <ng-content select="[slot=header]"></ng-content>
    </header>

    <section>
      <ng-content select="[slot=content]"></ng-content>
    </section>

    <footer>
      <button (click)="closeDialog()" *ngIf="!this.hideCloseButton">close</button>

      <div class="actions">
        <ng-content select="[slot=footer]"></ng-content>
      </div>
    </footer>
  </div>
</dialog>
