<dialog #dialogRef [attr.closing]="$isClosing() ? true : null">
  <article
    class="dialog-container custom-article"
    [class.full-screen]="fullScreen"
    *ngIf="$showDialog()"
  >
    <header>
      <a class="close" (click)="closeDialog()"> </a>
      <ng-content select="[slot=header]"></ng-content>
    </header>

    <section>
      <ng-content select="[slot=content]"></ng-content>
    </section>

    <footer>
      <button (click)="closeDialog()">close</button>
      <ng-content select="[slot=footer]"></ng-content>
    </footer>
  </article>
</dialog>
