<form [formGroup]="form">
  <mat-form-field appearance="standard">
    <mat-label>Title</mat-label>
    <input matInput [formControl]="form.controls.title">
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Project Code</mat-label>
    <input matInput [formControl]="form.controls.code">
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Content</mat-label>
    <input matInput [formControl]="form.controls.content">
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>Colour</mat-label>
    <input matInput [formControl]="form.controls.colour">
  </mat-form-field>
</form>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="getDialogData()">Save</button>
</div>
