<div class="custom-form">
  <form [formGroup]="form">

    <label>Title</label>
    <input matInput [formControl]="form.controls.title">

    <label>Project Code</label>
    <input matInput [formControl]="form.controls.code">

    <label>Content</label>
    <input matInput [formControl]="form.controls.content">

    <label>Color</label>
    <input matInput [formControl]="form.controls.colour">
  </form>

  <div class="actions">
    <div>
      <button (click)="onNoClick()">Cancel</button>
      <button (click)="deleteProject()">Delete</button>
    </div>

    <button (click)="saveProject()">Save</button>
  </div>
</div>
