<div class="custom-form dialog-content">
  <form [formGroup]="form">

    Title:
    <input matInput [formControl]="form.controls.title">

    Project Code:
    <input matInput [formControl]="form.controls.code">

    Content:
    <input matInput [formControl]="form.controls.content">

    Color:
    <input matInput [formControl]="form.controls.colour">
  </form>

  <div class="actions">
    <div>
      <button (click)="onNoClick()">Cancel</button>
      <button (click)="deleteProject()">Delete</button>
    </div>

    <button (click)="saveProject()">Save</button>
  </div>
</div>
