<app-dialog
  [isVisible]="openModal()"
  [fullScreen]="fullScreen()"
  (onModalClose)="onModalClose.emit(false)"
>
  <ng-container slot="header"> 
    <h2 class="title">Edit Project</h2>
  </ng-container>

  <ng-container slot="content">
    <div class="custom-form">
      <form [formGroup]="form">
        <section>
          <label>
            Title
            <input [formControl]="form.controls.title" />
          </label>

          <label>
            Project Code
            <input [formControl]="form.controls.code" />
          </label>

          <label>
            Content
            <input [formControl]="form.controls.content" />
          </label>

          <label>
            Color
            <input [formControl]="form.controls.colour" />
          </label>
        </section>
      </form>
    </div>
  </ng-container>

  <ng-container slot="footer">
    <button class="danger" (click)="deleteProject()">Delete</button>
    <button class="primary" (click)="saveProject()">Save</button>
  </ng-container>
</app-dialog>
