<div class="dialog-content">
  <form [formGroup]="taskForm">
    Name
    <input [formControl]="taskForm.controls.name">

    State
    <select [formControl]="taskForm.controls.state">
      <option [value]="0">Todo</option>
      <option [value]="1">In progress</option>
      <option [value]="2">Blocked</option>
      <option [value]="3">Done</option>
    </select>

    Content:
    <input [formControl]="taskForm.controls.content">

    Project ID:
    <input [formControl]="taskForm.controls.projectId">

    Priority
    <select [formControl]="taskForm.controls.priority">
      <option [value]="0">Lowest</option>
      <option [value]="1">Medium</option>
      <option [value]="2">High</option>
      <option [value]="3">Highest</option>
    </select>

  </form>
</div>

<div class="actions">
  <div>
    <button (click)="onNoClick()">Cancel</button>
  </div>

  <button [mat-dialog-close]="getDialogData()">Save</button>
</div>
