<div class="custom-form">
  <form [formGroup]="taskForm">
    <label>Name</label>
    <input [formControl]="taskForm.controls.name">

    <label>State</label>
    <select [formControl]="taskForm.controls.state">
      <option [value]="0">Todo</option>
      <option [value]="1">In progress</option>
      <option [value]="2">Blocked</option>
      <option [value]="3">Done</option>
    </select>


    <label>Content</label>
    <input [formControl]="taskForm.controls.content">

    <label>Project ID</label>
    <select [formControl]="taskForm.controls.projectId">
      <ng-container *ngFor="let project of projects$| async">
        <option [value]="project[0]">{{project[1]}}</option>
      </ng-container>
    </select>

    <label>Priority</label>
    <select [formControl]="taskForm.controls.priority">
      <option [value]="0">Lowest</option>
      <option [value]="1">Medium</option>
      <option [value]="2">High</option>
      <option [value]="3">Highest</option>
    </select>

  </form>

  <div class="actions">
    <div>
      <div>
        <button (click)="onNoClick()">Cancel</button>
      </div>
      <button
        class='danger' (click)="deleteTask()">Delete
      </button>
    </div>

    <button class='primary' (click)="save()">
      Save
    </button>
  </div>
</div>

