<div class="box">
  <button (click)="openDialogAddFinance()">Add Expense</button>
</div>

<div class="box">
  <ng-container *ngIf="summaries$ | async as summaries; else loading">
    <article>
      <div class="summary">
        <div class="container">
          <div
            class="category"
            *ngFor="let categorySummary of summaries.summaries"
          >
            <span
              [style.width]="categorySummary.percentage"
              [style.max-width]="categorySummary.percentage"
              [style.background]="categorySummary.colour"
              class="badge bar"
              ><br
            /></span>

            <span
              class="label font-code"
              [class.labelInsideBar]="categorySummary.percentageRaw >= 20"
              [ngStyle]="{
                'margin-left':
                  categorySummary.percentageRaw < 20
                    ? categorySummary.percentage
                    : 0
              }"
            >
              <span class="name">
                {{ categorySummary.categoryName }}
                ({{ categorySummary.percentage }})
              </span>
            </span>
            <span class="week-total amount highlight">{{
              categorySummary.total
            }}</span>
          </div>
        </div>
      </div>
    </article>

    <article>
      <header>
        <div class="finance-header">
          <button
            type="button"
            class="secondary material-symbols-outlined"
            (click)="back()"
          >
            arrow_back_ios
          </button>

          <span>{{ title }}</span>

          <button
            type="button"
            class="secondary material-symbols-outlined"
            (click)="forward()"
          >
            arrow_forward_ios
          </button>
        </div>
      </header>

      <div *ngIf="financeData$ | async as financeData; else loading">
        <app-add-finance-dialog
          *ngIf="$$selectedFinance() as selected"
          [isVisible]="showEditDialog()"
          [selected]="selected"
          (onModalClose)="closeDialog()"
        ></app-add-finance-dialog>

        <details
          class="finance-list"
          *ngFor="let summary of financeData; let idx = index"
          [open]="idx == 0 ? true : false"
        >
          <summary>
            <span>
              {{ summary.categoryName }}
            </span>

            <span>
              {{ summary.total }}
            </span>
          </summary>

          <div
            class="grid"
            (click)="toggleDialog(finance.id)"
            *ngFor="let finance of summary.items"
          >
            <div
              class="amount"
              [class.credit]="finance.isCredit"
              [class.debit]="!finance.isCredit"
            >
              {{ finance.amountFormatted }}
            </div>

            <div class="date">{{ finance.dateFormatted }}</div>

            <span class="label">{{ finance.name }}</span>

            <span class="categoryBadge">
              <span
                class="badge no-outline small"
                [style.background]="finance.categoryColour"
              >
                {{ finance.categoryLabel }}
              </span>
            </span>
          </div>
        </details>
      </div>
    </article>
  </ng-container>
</div>

<ng-template #loading>
  <div class="summary">
    <div class="container">
      <div class="category" style="background: #8a8a8a; width: 100%">
        <span class="name">Loading</span>

        <div>
          <span style="float: right">0.0</span>
          <span style="float: left">Loading</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>
