<div class="finances-container">

  <div class='summary' *ngIf="summaries">

    <div
      class="category"
      *ngFor="let categorySummary of summaries"
      [style.width]="categorySummary.percentage"
      [style.background]="categorySummary.colour"
    >
      <span class="name">{{categorySummary.categoryName}}</span>
      <div>
        <span style="float: right">{{categorySummary.total}}</span>
        <span style="float: left">{{categorySummary.percentage}}</span>
      </div>
    </div>

  </div>

  <div class="cards">

    <div class="custom-card all-finances">
      <div class="title subtitle no-header">Finance</div>

      <div class='custom-table custom-card-content' *ngIf="finances">
        <div class="header">
          <span>name</span>
          <span>date</span>
          <span>amount</span>
          <span>categoryType</span>
        </div>

        <div class="row" *ngFor="let finance of finances">
          <span>{{finance.name}}</span>
          <span>{{finance.date}}</span>
          <span>{{finance.amount}}</span>
          <span>{{categoryLookup.get(finance.categoryType)}}</span>
        </div>

      </div>

      <div class="custom-card-actions">
        <button mat-button (click)="openDialogAddFinance()">Add</button>
      </div>
    </div>

    <div class="custom-card week-summary">
      <div class="title subtitle no-header">Week breakdown</div>

      <div class='custom-table custom-card-content' *ngIf="weekSummaries">

        <div class="row" *ngFor="let summary of weekSummaries">
          <span>{{summary.categoryName}}</span>
          <span>{{summary.total}}</span>
        </div>
      </div>

      <div class="custom-card-actions">
        <br/>
      </div>
    </div>

  </div>

</div>
