@use "src/styles/abstracts/constants" as constants;
@use "src/styles/abstracts/colors" as colors;
@use "src/styles/abstracts/mixins" as mixins;

// Keyframes
@keyframes spring {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.nowrap {
  white-space: nowrap;
}

.finance-container {
  font-size: medium;

  section {
    font-size: inherit;
  }

  .summary {
    display: flex;
    flex-direction: column;
    gap: var(--gap);

    .category {
      font-size: inherit;
      white-space: nowrap;

      .summary-label {
        display: flex;
        justify-content: space-between;

        label {
          margin: 0;
        }
      }

      .amount-bar {
        animation: 1s ease-out 0s 1 spring;
        height: 0.3rem;

        padding: unset;
        margin: unset;
      }
    }
  }

  .finances {
    margin: unset;

    summary {
      padding: 0.5rem 1rem;
      border: solid 1px var(--border-color);
      background-color: var(--bg);
      border-style: solid none solid none;
    }

    .summary-list {
    }

    .grid {
      display: grid;  
      // margin: var(--gap);
      // min-width: 16rem;

      @include mixins.card-shape;
      grid-template-columns: 1fr 1fr;
      padding: 0.5rem;
      background-color: var(--bg2);
      box-shadow: unset;

      .amount {
        font-weight: bold;
      }

      .date {
        font-family: monospace;
      }
    }
  }
  @media screen and (max-width: constants.$media-sm) {
    font-size: small;
  }
}
