<div class="finances-container">

  <div class='summary' *ngIf="summaries">

    <div
      class="category"
      *ngFor="let categorySummary of summaries"
      [style.width]="categorySummary.percentage"
      [style.background]="categorySummary.colour"
    >
      <span class="name">{{categorySummary.categoryName}}</span>
      <div>
        <span style="float: right">{{categorySummary.total}}</span>
        <span style="float: left">{{categorySummary.percentage}}</span>
      </div>
    </div>

  </div>

  <div class="cards">

    <div class="custom-card all-finances">
      <div class="title subtitle no-header">Summary</div>

      <div class='custom-card-content' *ngIf="weekSummaries">

        <div *ngFor="let summary of weekSummaries; index as i">

          <div class='custom-table'>
            <div class="header" *ngIf="i == 0">
              <span>Name</span>
              <span>Date</span>
              <span>Amount</span>
              <span>category</span>
            </div>

            <div class="table-header-week">
              <span>{{summary.categoryName}}</span>
              <span>{{summary.total}}</span>
            </div>

            <div class="row" *ngFor="let finance of summary.items">
              <span>{{finance.name}}</span>
              <span>{{finance.date}}</span>
              <span>{{finance.amount}}</span>
              <span>{{categoryLookup.get(finance.categoryType)}}</span>
            </div>

          </div>

        </div>
      </div>

      <div class="custom-card-actions">
        <button mat-button (click)="openDialogAddFinance()">Add</button>
      </div>
    </div>

  </div>

</div>
