@use "src/styles/global/colors" as global;
@use "src/styles/global/style" as style;

.nowrap {
  white-space: nowrap;
}

.finances-container {
  display: flex;
  flex-direction: column;
  padding: style.$dialog-padding;
  margin: style.$margin-global-0;

  .finance {
    table {
      width: 100%;
      box-shadow: style.$box-shadow;

      th {
        background: global.$primary-accent;
        color: global.$color-text-dark;
        font-size: style.$font-large;
      }
    }
  }
}
