$bg-light: rgb(228, 229, 234);
$bg-light-1: #7872ac;
$bg-light-2: #e0e0e6;
$bg-light-3: #cecdd7;

$btn-primary-bg: #565564;
$btn-primary-fg: #3c65a3;

$text-color-light: rgb(52, 52, 62);
$border-color-light: rgb(68, 67, 79);
$form-field-light: #dce3eb;

$bg-dark: #3c3f44;
$bg-dark-1: #1f2328;
$bg-dark-2: #30353c;
$bg-dark-3: #181c22;

$text-color-dark: rgb(210 204 196);
$border-color-dark: #{darken($bg-dark, 10%)};
$form-field-dark: #425162;

$bg-active-light: #aebdd5;
$bg-active-dark: #28374d;

$text-active: #3c65a3;

$color-blue: #658edc;
$color-yellow: #ffdd3d;
$color-red: #e86767;
$color-green: #51bb5c;

$btn-primary: $color-blue;
$btn-warn: $color-yellow;
$btn-danger: $color-red;
