$bg-light: #f8f9f9;

$bg-light1: #{darken($bg-light, 1%)};
$bg-light2: #{lighten($bg-light, 12%)};
$bg-light3: #{lighten($bg-light, 13%)};
$bg-light-d: #{darken($bg-light, 10%)};

$bg-dark: #232327;
$bg-dark1: #{lighten($bg-dark, 5%)};
$bg-dark2: #{lighten($bg-dark, 10%)};
$bg-dark3: #{lighten($bg-dark, 15%)};
$bg-dark-d: #{darken($bg-dark, 3%)};

$color-blue: #658edc;
$color-yellow: #ffdd3d;
$color-red: #e86767;
$color-green: #51bb5c;

$btn-primary: $color-blue;
$btn-warn: $color-yellow;
$btn-danger: $color-red;
