@use "../abstracts/colors" as colors;
@use "../abstracts/constants" as constants;

@mixin box-shadow {
  box-shadow: var(--box-shadow);
}

@mixin card-shape {
  margin: var(--container-margin);
  border-radius: var(--border-radius);
}

@mixin card-action {
  @include card-shape;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  background-color: var(--bg3);

  &:hover {
    box-shadow: var(--box-shadow);
    background-color: var(--bg-active);
  }
}

@mixin outline {
  outline: solid 2px var(--text-active);
}

@mixin hover-outline {
  transition: color 0.5s;
  color: var(--text-color);

  &:hover {
    @include outline;
    color: var(--text-active);
    cursor: pointer;
  }
}
