<div class="box calendar-container">
  <div class="header-actions">
    <button class="right-ico">Add</button>
  </div>

  <article class="custom-article" *ngIf="$calendarData() as data">
    <header class="header-actions">
      <button
        type="button"
        class="secondary material-symbols-outlined"
        (click)="back()"
      >
        arrow_back_ios
      </button>

      <hgroup>
        <h3>{{ data.name }}</h3>
        <h2>{{ data.year}}</h2>
      </hgroup>

      <button
        type="button"
        class="secondary material-symbols-outlined"
        (click)="forward()"
      >
        arrow_forward_ios
      </button>
    </header>

    <!-- Header -->
    <div class="calendar">
      <div class="header">
        <div *ngFor="let day of weekdays">
          {{ day }}
        </div>
      </div>

      <!-- Body -->
      <div class="calendar-days">
        <div
          class="box-day"
          *ngFor="let day of this.$calendarData().days"
          [ngClass]="[
            day.currentMonth ? '' : 'disable',
            day.currentMonth && day.isToday ? 'today' : ''
          ]"
        >
          <span>
            {{ day.date }}
          </span>
        </div>
      </div>
    </div>
  </article>
</div>
