@use "src/styles/global/colors" as global;
@use "src/styles/global/style" as style;
@use "src/styles/global/card";

$border-color: #404040;
$day-disabled: #5d5d5d;
$day-background: #282828;
$day-background-darker: #1f1f1f;
$day-font-light: #8a8a8a;

mat-card {
  background: global.$primary-accent;

  mat-card-title {
    padding-bottom: 4px;
  }
}

.calendar-container {
  display: flex;
  flex-direction: column;
  padding: style.$dialog-padding;
  margin: style.$margin-global-0;
  //max-width: min-content;

  .month-row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;

    color: global.$color-text-sub-title;
  }

  .month-week {
    :first-child {
      border-width: 1px !important;
      border-left: solid !important;
      border-color: $border-color !important;
    }
  }

  .box-header {
    width: 100px;
    font-weight: bold;
    text-align: center;
  }

  .box-month {
    .box-day {
      height: 100%;
      min-height: 100px;
      width: 100%;

      background: $day-background-darker;
      color: $day-font-light;
      font-weight: bold;
      border-style: solid solid none none;
      border-width: 1px;
      padding: 4px;
      border-color: $border-color;

    }

    .disable {
      background: $day-background;
      color: $day-disabled;
    }

    .today {
      color: global.$color-red;
    }
  }
}
