<div class="calendar-container">

  <div class="custom-card no-border">
    <div class="box-month">
      <div class="title space-between">
        <button class="icon-button" (click)="back()">
          <mat-icon color="secondary">arrow_back</mat-icon>
        </button>

        <span>{{ month.name }} {{ year }}</span>

        <button class="icon-button right" (click)="forward()">
          <mat-icon color="secondary">arrow_forward</mat-icon>
        </button>
      </div>

      <!-- Header -->
      <div class="calendar-grid">

        <div class="box-header" *ngFor="let day of weekdays">
          {{ day }}
        </div>

        <ng-container
          *ngFor="let week of month.weeks">

          <div class="box-day"
               *ngFor="let day of week.days"
               [ngClass]="[
                   day.currentMonth ? '' : 'disable',
                   day.currentMonth && isToday(day.day) ? 'today' : '',
                 ]"
          >
            {{ day.day }}
          </div>
        </ng-container>

      </div>

    </div>
  </div>
</div>
