@use "src/styles/abstracts/colors" as global;
@use "src/styles/abstracts/style" as style;
@use "src/styles/components/custom-card";

$border-color: #404040;
$day-disabled: #5d5d5d;
$day-background: #282828;
$day-background-darker: #1f1f1f;
$day-font-light: #8a8a8a;


:host {
  height: inherit;
  display: block;
}

mat-card {
  background: global.$primary-accent;

  mat-card-title {
    padding-bottom: 4px;
  }
}

.calendar-container {
  height: inherit;
  display: flex;
  flex-direction: column;
  padding: style.$dialog-padding;
  margin: style.$margin-global-0;
  color: $day-font-light;

  .box-header {
    font-weight: bold;
    text-align: center;
  }

  .box-month {
    height: inherit;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-between;

    .title {
      flex-grow: 0;
    }

    .calendar-grid {
      flex-grow: 1;
      overflow-y: clip;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: 0fr;
    }

    .box-header {
      background: global.$toolbar-bg;
      font-weight: 400;
      padding-bottom: 0.4rem;
    }

    .box-day {
      height: 100%;
      background: $day-background-darker;
      font-weight: bold;
      border-style: solid none;
      border-width: 1px;
      padding: 4px;
      border-color: $border-color;

      &:hover {
        border-color: #ff4081;
        color: #ff4081;
      }
    }

    .disable {
      background: $day-background;
      color: $day-disabled;
    }

    .today {
      color: global.$color-red;
    }
  }
}

@media screen and (max-width: 844px) {
  .calendar-container {

    .box-month {

      .calendar-grid {
      }
    }
  }
}
