.item-card {
  @apply text-sm;
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr;
  padding: 0.5rem 0.5rem;

  .item-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &:hover {
    box-shadow: var(--box-shadow);
  }
}

/* Light mode: Mix with white */
@media (prefers-color-scheme: light) {
  .item-card {
    border-left: solid 0.5rem color-mix(in srgb, var(--category-colour) 50%, transparent);
    background-color: color-mix(in srgb, var(--category-colour) 4%, transparent);
  }

  .item-card:hover {
    border-left: solid 0.5rem color-mix(in srgb, var(--category-colour) 100%, transparent);
    background-color: color-mix(in srgb, var(--category-colour) 80%, transparent);
  }
}

/* Dark mode: Mix with black */
@media (prefers-color-scheme: dark) {
  .item-card {
    border-left: solid 0.5rem color-mix(in srgb, var(--category-colour) 80%, transparent);
    color: color-mix(in srgb, var(--category-colour) 25%, var(--fg));
  }

  .item-card:hover {
    border-left: solid 0.5rem color-mix(in srgb, var(--category-colour) 100%, transparent);
    background-color: color-mix(in srgb, var(--category-colour) 80%, transparent);
  }
}
