<div class="finance-dialog">
  <form [formGroup]="form">
    <mat-form-field appearance="standard">
      <mat-label>Name</mat-label>
      <input matInput [formControl]="form.controls.name" type="text">
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Date</mat-label>
      <input matInput [formControl]="form.controls.date">
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Amount</mat-label>
      <input matInput [formControl]="form.controls.amount">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Category</mat-label>
      <mat-select [formControl]="form.controls.categoryType">
        <mat-option [value]="category.key" *ngFor="let category of data.categories | keyvalue">
          {{ category.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div>
      <button mat-button (click)="addFinance()" type="submit">Add</button>
    </div>
  </form>
</div>
