<app-dialog
  [isVisible]="openModal"
  [fullScreen]="fullScreen"
  (onModalClose)="onModalClose.emit(true)"
>
  <ng-container slot="header">
    <strong>{{ dialogAction }}</strong>
  </ng-container>

  <ng-container slot="content">
    <div
      class="custom-form"
      [class.hideHeader]="dialogAction == 'Edit Finance'"
    >
      <div>
        <div label="Add">
          <form [formGroup]="addFinanceForm">
            <label>Name</label>
            <input
              [formControl]="addFinanceForm.controls.name"
              type="text"
              title="name"
            />

            <label>Date</label>
            <div class="right-icon">
              <input
                type="date"
                title="date"
                [formControl]="addFinanceForm.controls.date"
                class="form-control"
              />
            </div>

            <label>Amount</label>
            <input
              title="amount"
              [formControl]="addFinanceForm.controls.amount"
            />

            <label>Category</label>
            <select
              title="category"
              [formControl]="addFinanceForm.controls.categoryType"
              *ngIf="categories()?.categoryTypesMap as types"
            >
              <option *ngFor="let type of types | keyvalue" [value]="type.key">
                {{ type.value }}
              </option>
            </select>
          </form>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container slot="footer">
    <div>
      <button
        *ngIf="dialogAction == 'Edit Finance'"
        class="danger"
        (click)="deleteFinance()"
      >
        Delete
      </button>

      <button class="primary" (click)="addFinance()">
        {{ dialogAction == "Add Finance" ? "Create" : "Update" }}
      </button>
    </div>
  </ng-container>
</app-dialog>
