<div class="container">
  <article class="custom-article" *ngIf="$calendarData() as data">
    <!-- Dialogs -->
    <app-calendar-event-dialog
      *ngIf="calendarService.$showEventDialog()"
      [openModal]="calendarService.$showEventDialog()"
      (onModalClose)="calendarService.onCloseDialog($event)"
    >
    </app-calendar-event-dialog>

    <header class="header-actions card-0">
      <button
        type="button"
        class="secondary material-symbols-outlined"
        (click)="back()"
      >
        arrow_back_ios
      </button>

      <div class="text-center">
        <h2 class="title font-semibold">{{ data.name }}</h2>
        <h3 class="subtitle">{{ data.year }}</h3>
      </div>

      <button
        type="button"
        class="secondary material-symbols-outlined"
        (click)="forward()"
      >
        arrow_forward_ios
      </button>
    </header>

    <!-- Header -->
    <div class="calendar card-0">
      <div class="header grid grid-cols-7 rounded-lg p-2 m-1 font-semibold">
        <div *ngFor="let day of weekdays">
          {{ day }}
        </div>
      </div>

      <!-- Body -->
      <div class="calendar-days grid grid-cols-7">
        <div
          class="box-day h-20 p-2 m-1 bg-slate-50 rounded-lg border-solid border-slate-200 border-2"
          *ngFor="let day of this.$calendarData().days"
          (click)="selectDateEvent(day)"
          [ngClass]="[
            day.date.getMonth() == this.calendarService.$startDate().getMonth()
              ? ''
              : 'disable',
            day.currentMonth ? '' : 'disable',
            day.currentMonth && day.isToday ? 'today' : ''
          ]"
          [attr.active]="this.day.selected"
        >
          <span> {{ day.day }}</span>

          <div
            class="badge micro actionable event-label"
            *ngFor="let e of day.events?.values()"
            [style.background-color]="e.color"
            (click)="
              calendarService.$selectedEventId.set(e.id);
              calendarService.$showEventDialog.set(true)
            "
          >
            {{ e.title }}
          </div>
        </div>
      </div>
    </div>

    <footer class="card-0 flex">
      <button
        class="right-ico"
        (click)="
          calendarService.$selectedEventId.set(-1);
          calendarService.$showEventDialog.set(true)
        "
      >
        Add
      </button>
    </footer>
  </article>

  <article class="card-0" *ngIf="this.$events() as events">
    <header>
      <h2 class="font-semibold">Events ({{ events.length }})</h2>
    </header>

    <div class="calendar-events-list" *ngIf="events.values()">
      <div
        class="bg-slate-200 p-2 m-1 rounded-lg hover:bg-slate-300 cursor-pointer"
        *ngFor="let e of events.values()"
        (click)="
          calendarService.$selectedEventId.set(e.id);
          calendarService.$showEventDialog.set(true)
        "
        (keydown.enter)="
          calendarService.$selectedEventId.set(e.id);
          calendarService.$showEventDialog.set(true)
        "
      >
        <div class="font-semibold">{{ e.title }}</div>
        <div>{{ e.date + " " + e.time }}</div>
      </div>
    </div>

    <footer></footer>
  </article>
</div>
