<div class="container">
  <article class="custom-article" *ngIf="$calendarData() as data">
    <!-- Dialogs -->
    <app-calendar-event-dialog
      *ngIf="calendarService.$showEventDialog()"
      [openModal]="calendarService.$showEventDialog()"
      (onModalClose)="calendarService.onCloseDialog($event)"
    >
    </app-calendar-event-dialog>

    <header class="header-actions">
      <button
        type="button"
        class="secondary material-symbols-outlined"
        (click)="back()"
      >
        arrow_back_ios
      </button>

      <hgroup>
        <h2 class="title">{{ data.name }}</h2>
        <h3 class="subtitle">{{ data.year }}</h3>
      </hgroup>

      <button
        type="button"
        class="secondary material-symbols-outlined"
        (click)="forward()"
      >
        arrow_forward_ios
      </button>
    </header>

    <!-- Header -->
    <div class="calendar">
      <div class="header">
        <div *ngFor="let day of weekdays">
          {{ day }}
        </div>
      </div>

      <!-- Body -->
      <div class="calendar-days">
        <div
          class="box-day"
          *ngFor="let day of this.$calendarData().days"
          (click)="selectDateEvent(day)"
          [ngClass]="[
            day.date.getMonth() == this.calendarService.$startDate().getMonth()
              ? ''
              : 'disable',
            day.currentMonth ? '' : 'disable',
            day.currentMonth && day.isToday ? 'today' : ''
          ]"
          [attr.active]="this.day.selected"
        >
          <span> {{ day.day }}</span>

          <div
            class="badge micro actionable event-label"
            *ngFor="let e of day.events?.values()"
            [style.background-color]="e.color"
            (click)="
              calendarService.$selectedEventId.set(e.id);
              calendarService.$showEventDialog.set(true)
            "
          >
            {{ e.title }}
          </div>
        </div>
      </div>
    </div>

    <footer>
      <button
        class="right-ico"
        (click)="
          calendarService.$selectedEventId.set(-1);
          calendarService.$showEventDialog.set(true)
        "
      >
        Add
      </button>
    </footer>
  </article>

  <article class="custom-article" *ngIf="this.$events() as events">
    <header>
      <hgroup>
        <h2 class="title">Events</h2>
        <h3 class="subtitle">{{ events.length }} notices</h3>
      </hgroup>
    </header>
    <div class="custom-list calendar-events-list" *ngIf="events.values()">
      <div
        class="list-item action event-card"
        *ngFor="let e of events.values()"
        (click)="
          calendarService.$selectedEventId.set(e.id);
          calendarService.$showEventDialog.set(true)
        "
      >
        <span> {{ e.title }}</span>
        <div>{{ e.date + " " + e.time }}</div>
      </div>
    </div>

    <footer></footer>
  </article>
</div>
