@use "src/styles/abstracts/colors" as global;
@use "src/styles/abstracts/constants" as constants;

.calendar-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
}

.calendar-container {
  article > footer {
    margin: unset;
  }

  .calendar {
    font-size: small;
    background-color: var(--bg1);

    .header {
      border-bottom: solid 1px var(--border-color);
      display: flex;
      flex-direction: row;

      div {
        font-weight: bold;
        padding: 0.3rem;
        text-align: center;
        flex-basis: 14.28%;
      }
    }

    .calendar-days {
      display: grid;
      grid-template-columns: repeat(7, 1fr);

      .box-day {
        background-color: var(--bg2);
        outline: solid 1px var(--border-color);
        min-height: 10vh;
        font-weight: bold;
        padding: 0.3rem;

        &.disable {
          background-color: var(--bg1);

          span {
            color: var(--bg2);
          }
        }

        &.today > span {
          background-color: var(--text-active);
          color: white;
          padding: 2px;
          border-radius: 4px;
        }

        &[active] {
          background-color: var(--text-active);
        }

        &:hover {
          // background-color: var(--text-active);
        }

        .event-label {
          font-size: smaller;
          background-color: rgb(193, 82, 82);
          white-space: normal;
        }
      }
    }
  }
}

.calendar-events-list {
  ul {
    list-style-type: none;
    padding: 0;

    .event-card {
      background-color: var(--bg3);
      padding: 0.5rem 1rem;
      margin: 1rem;
    }
  }
}
