@use "src/styles/abstracts/colors" as global;
@use "src/styles/abstracts/constants" as constants;

.container {
  article > footer {
    margin: unset;
  }

  .calendar {
    font-size: small;
    background-color: var(--bg1);

    .header {
      border-bottom: solid 1px var(--border-color);
      display: flex;
      flex-direction: row;

      div {
        font-weight: bold;
        padding: 0.3rem;
        text-align: center;
        flex-basis: 14.28%;
      }
    }

    .calendar-days {
      display: grid;
      grid-template-columns: repeat(7, 1fr);

      .box-day {
        background-color: var(--bg2);
        outline: solid 1px var(--border-color);
        min-height: 10vh;
        padding: 0.3rem;
        font-weight: 100;

        &.disable {
          background-color: var(--bg1);

          span {
            color: var(--bg2);
          }
        }

        &.today > span {
          background-color: var(--text-active);
          color: white;
          padding: 2px;
          border-radius: 4px;
        }

        &[active] {
          background-color: var(--text-active);
        }

        &:hover {
          // background-color: var(--text-active);
        }

        .event-label {
          background-color: #374e77;
          color: var(--text-color);
          font-weight: 400;

          &:hover {
            outline: 2px solid #fff;
          }
        }
      }
    }
  }
}

@media screen and (min-width: constants.$media-lg) {
  .container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2fr 1fr;
    align-items: start;
    gap: 2rem;
  }
}
