@use "./abstracts/colors" as colors;

[data-theme="light"],
:root:not([data-theme="dark"]) {
  // custom
  --bg: #{colors.$bg-light};
  --bg1: #{colors.$bg-light-1};
  --bg2: #{colors.$bg-light-2};

  --border-color: #{colors.$border-color-light};
  --text-color: #{colors.$text-color-light};
  --text-color-inverse: #{colors.$text-color-dark};
  --bg-active: #{colors.$bg-active-light};
  --bg-form-field: #{colors.$form-field-light};
}

/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    // custom
    --bg: #{colors.$bg-dark};
    --bg1: #{colors.$bg-dark-1};
    --bg2: #{colors.$bg-dark-2};

    --border-color: #{colors.$border-color-dark};
    --text-color: #{colors.$text-color-dark};
    --text-color-inverse: #{colors.$text-color-light};
    --bg-active: #{colors.$bg-active-dark};
    --bg-form-field: #{colors.$form-field-dark};
  }
}

:root {
  --text-color-dark: #{colors.$text-color-light};
  --text-color-light: #{colors.$text-color-dark};
  --text-active: #{colors.$text-active};
}
