/* Colours Configuration */

/* Default Colours */
:root {
  /* Background Colours */
  --dark-bg: #14161b;
  --dark-bg1: #1b2027;
  --dark-bg2: #1e232b;
  --dark-bg3: #665c54;
  --dark-bg4: #7c6f64;

  /* Foreground Colours */
  --fg: #ebdbb2;
  --fg0: #282828;
  --fg1: #3c3836;
  --fg2: #504945;
  --fg3: #665c54;
  --fg4: #7c6f64;

  /* Accent */
  --accent: #3c82f6;
  --accent0: color-mix(in srgb, var(--accent) 80%, white);
  --accent1: color-mix(in srgb, var(--accent) 50%, white);

  /* Grayscale */
  --gray: #928374;
  --gray-light: #a89984;

  /* Colours */
  --red: #cc241d;
  --red-light: #fb4934;
  --green: #98971a;
  --green-light: #b8bb26;
  --yellow: #d79921;
  --yellow-light: #fabd17;
  --blue: #458588;
  --blue-light: #83a598;
  --purple: #b16286;
  --purple-light: #d3869b;
  --aqua: #689d6a;
  --aqua-light: #8ec07c;
  --orange: #d65d0e;
  --orange-light: #fe8019;

  /* Default */
  --bg: var(--dark-bg);
  --bg0: var(--dark-bg0);
  --bg1: var(--dark-bg1);
  --bg2: var(--dark-bg2);
  --bg3: var(--dark-bg3);
  --bg4: var(--dark-bg4);

  --bg-inverse: #d2d2d2;
}

/* Light Mode */
@media (prefers-color-scheme: light) {
  :root {
    /* Background Colours */
    --bg-inverse: #282828;
    --bg: #e7e1e1;
    --bg1: color-mix(in srgb, var(--bg) 80%, black);
    --bg2: color-mix(in srgb, var(--bg) 50%, black);
    --bg3: color-mix(in srgb, var(--bg) 30%, black);

    /* Foreground Colours */
    --fg: var(--dark-bg);
    --fg1: var(--light-fg1);
  }
}
