dialog {
  background-color: transparent;
  display: flex;
  @apply w-full h-full md:max-w-md;
}
dialog::backdrop {
  @apply backdrop-blur-lg bg-black/30;
}

dialog .dialog-container {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: space-between;

  @apply bg-slate-100 text-slate-950 dark:bg-zinc-700 dark:text-slate-300;
  @apply rounded-lg;
}
.dialog-container {
  main {
    flex-grow: 1;
  }
}

@media (min-width: 768px) {
  dialog {
    height: max-content;
    min-height: 40%;
  }
  dialog .dialog-container {
    max-height: 80%;
  }
}
