@use "src/styles/abstracts/colors" as colors;
@use "src/styles/abstracts/style" as style;

@use "src/styles/abstracts/fonts";
@use "src/styles/components/custom-form";
@use "src/styles/components/icon-button";
@use "src/styles/components/custom-badge";

.cdk-global-scrollblock{
  position: unset;
}

html, body {
  height: calc(100dvh);
  overflow-x: hidden;
}

app-root {
  height: inherit;
  display: block;
}

main {
  height: inherit;
  display: block;
}

body {
  margin: 0;
  padding: 0;
  $background: colors.$app-bg-main;
  background-color: $background;
}

h1 {
  color: #1f2023;
}

@media screen and (max-width: 844px) {

  html, body {
    height: calc(100dvh - 3rem);
    background: colors.$app-bg-main;
  }

  .dialog-style .mat-dialog-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: style.$dialog-padding;
  }
}

.dialog-style .mat-dialog-container {
  background: colors.$layer-two-bg;
  box-shadow: style.$box-shadow;
  border-radius: style.$border-radius-2;
  padding: style.$dialog-padding;
  color: colors.$color-text-dark;

  .dialog-content {
    padding: 1rem;
    color: colors.$color-text-light;

    label {
      color: colors.$primary-accent;
    }

    .mat-select-value {
      color: colors.$color-text-light;
    }
  }
}

.dialog-large {
  width: style.$dialog-large;
}

.dialog-small {
  width: style.$dialog-small;
}

.btn-style {
  box-shadow: style.$box-shadow;
  border-radius: style.$border-radius-2 !important;
}

.actions {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  div {
    display: flex;
    gap: 1rem;
    flex-direction: row;
  }
}

.custom-row {
  display: flex;

  .custom-row-item {

    &:only-child {
      border-radius: 0.3rem;
    }

    &:first-child {
      border-style: solid none solid solid;
      border-radius: 0.3rem 0 0 0.3rem;
    }

    &:last-child {
      border-style: solid solid solid none;
      border-radius: 0 0.3rem 0.3rem 0;
    }
  }
}

@keyframes anim-fade {
  0% {
    //height: 0;
    opacity: 0;
  }
  100% {
    //height: 100%;
    opacity: 100%;
  }
}

.custom-row-item {
  background-color: colors.$layer-three-bg;
  border: 1px solid colors.$layer-two-bg;
  border-radius: 0.3rem;
  animation: 0.5s ease-out 0s 1 anim-fade;
}

.amount {
  font-weight: 600;

  &.debit {
    color: #bb2c2c;
  }

  &.credit {
    color: #2cbb3f;
  }
}

.navbar-items {
  background-color: colors.$app-bg-dark;
  display: flex;

  .navbar-button {
    border: unset;
    color: colors.$color-text-light;

    &:hover {
      transition: 200ms ease-in;
      color: colors.$color-red;
    }
  }
}
