@use "./abstracts/colors" as colors;
@use "./abstracts/constants" as constants;
@use "./pico-custom";

@use "./components/article";
@use "./components/dialog";

:root {
  font-family: var(--font-family);
}

body {
  background: var(--pico-background-color);

  // @media variables
  --media-sm: constants.$media-sm;
  --media-md: constants.$media-md;
  --media-lg: constants.$media-lg;
}
@media screen and (max-width: constants.$media-sm) {
  body {
    --gap: var(--gap-sm);
    --container-margin: 0;
  }
}
@media screen and (min-width: constants.$media-md) {
  body {
    // --background-color: green;
  }
}
@media screen and (min-width: constants.$media-lg) {
  body {
    // --background-color: blue;
  }
}

main {
  @media screen and (min-width: constants.$media-md) {
    margin: auto;
    // padding: 0 5rem 5rem 5rem;
    margin-bottom: 5rem;
    max-width: 80%;
  }
}

// Mixins
@mixin font-style-code {
  display: flex;
  align-items: center;
  height: inherit;
  font-family: var(--font-code);
  // color: var(--secondary);
}

@mixin button-style {
  font-family: var(--font-code);
  // color: var(--primary);
  font-size: smaller;
  display: flex;
  align-items: center;
  padding: 0.2rem 0.4rem;
  border: 1px solid var(--primary);
  box-shadow: 3px 3px #8c4a50;

  &:hover {
    background-color: var(--primary);
    cursor: pointer;

    .highlight {
      // color: var(--secondary) !important;
    }

    span {
      // color: white;
    }
  }
}

body > app-root > footer {
  background: var(--pico-background-color);
  position: sticky;

  .bottom-nav > nav > ul {
    // color: var(--primary);
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
  }
}

// Font Styling
.font-code {
  @include font-style-code;
}

// Badge Styling
.badge {
  font-size: small;
  padding: 0 0.2rem;
  border-style: solid;
  border-radius: var(--border-radius);
  border-width: 1px;
  font-family: monospace;
  background-color: var(--bg3);

  &.todo {
    color: colors.$color-blue;
  }

  &.in-progress {
    color: colors.$color-yellow;
  }

  &.blocked {
    color: colors.$color-red;
  }

  &.done {
    color: colors.$color-green;
  }
}

// UI Styling
button-small {
  background-color: darkblue !important;
}

.header-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--gap);
}

// Nav
app-root > nav {
  background: var(--pico-background-color);
  border-bottom: solid 1px var(--border-color);
  box-shadow: var(--box-shadow);
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 1rem;

  ul,
  li {
    color: inherit;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }
}

.custom-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

[aria-selected="true"] {
  // color: var(--primary) !important;
  font-weight: bold;
}

.right-icon {
  display: flex;
  flex-direction: row-reverse;
}
.actions {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
