@import 'tailwindcss/base.css';
@import 'tailwindcss/components.css';
@import 'tailwindcss/utilities.css';

@import './form.css';
@import './colours.css';
@import './fonts.css';

@import './components/navbar.css';
@import './components/button.css';
@import './components/dialog.css';

:root {
  /* --box-shadow: 4px 4px 0 color-mix(in srgb, black 80%, transparent); */
  --border: var(--fg1) solid 1px;
  --page-margin: 1rem; /* Unused */
}

html {
  background-color: var(--bg);
  color: var(--fg);
  font-family: var(--font-family);
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* padding: 0 0.5rem; */
  margin: auto;
}

/** utility card styles */
[class^='card-'] {
  border-radius: 0.5rem;
  margin: var(--page-margin);
  padding: 0.5rem;
  box-shadow: var(--box-shadow);
  border: var(--border);
}

/* Specific styles for individual card-* classes */
.card-0 {
}

.card-1 {
}

.card-header {
  border: none;
  box-shadow: none;
}

/* Remove margin on small screens */
@media (max-width: 640px) {
  :root {
    /* --page-margin: 1rem; */
  }
}
