<app-dialog
  [isVisible]="openModal()"
  [fullScreen]="fullScreen()"
  (onModalClose)="onModalClose.emit(false)"
  >
  <ng-container slot="header">
    <h2 class="title">{{ dialogAction }}</h2>
  </ng-container>

  <ng-container slot="content">
    <div
      class="custom-form"
      [class.hideHeader]="dialogAction == 'Edit Finance'"
      >
      <form [formGroup]="addFinanceForm">
        <section>
          <label>
            Category
            @if (categories()?.categoryTypesMap; as types) {
              <select
                name="FinanceCategoryType"
                title="category"
                [formControl]="addFinanceForm.controls.categoryType"
                >
                @for (type of types | keyvalue; track type) {
                  <option [value]="type.key">
                    {{ type.value }}
                  </option>
                }
              </select>
            }
          </label>

          <label>
            Name
            <input
              name="FinanceName"
              [formControl]="addFinanceForm.controls.name"
              type="text"
              title="name"
              />
          </label>

          <label>
            Date
            <input
              type="date"
              title="date"
              [formControl]="addFinanceForm.controls.date"
              class="form-control"
              />
          </label>

          <label>
            Amount
            <input
              name="financeAmount"
              title="amount"
              [formControl]="addFinanceForm.controls.amount"
              />
          </label>
        </section>
      </form>
    </div>
  </ng-container>

  <ng-container slot="footer">
    @if (dialogAction == 'Edit Finance') {
      <button
        class="danger"
        (click)="deleteFinance()"
        >
        Delete
      </button>
    }

    <button class="primary" (click)="addFinance()">
      {{ dialogAction == "Add Finance" ? "Create" : "Update" }}
    </button>
  </ng-container>
</app-dialog>
