<app-dialog [isVisible]="openModal()" [fullScreen]="fullScreen()" (onModalClose)="onModalClose.emit(false)">
  <ng-container slot="header">
    <h1 class="text-xl">{{ dialogAction }}</h1>
  </ng-container>

  <ng-container slot="content">
    <div [class.hideHeader]="dialogAction == 'Edit Finance'">
      <form class="custom-form">
        <section>
          <label> Category </label>
          @if (categoryTypes; as types) {

          <select name="FinanceCategoryType" title="category"
            (change)="this.inputCategoryType.set(this.eventToNumber($event))">
            @for (type of types | keyvalue; track type) {
            <option [value]="type.key" [selected]="type.key == this.inputCategoryType()">
              {{ type.value }}
            </option>
            }
          </select>
          }

          <label> Name </label>
          <input name="FinanceName" type="text" title="name" [value]="inputName()"
            (change)="this.inputName.set(this.eventToHtmlValue($event))" />

          <label> Date </label>
          <app-date-time-input [(ngModel)]="inputDate" [ngModelOptions]="{ standalone: true }" />

          <label> Amount </label>
          <input name=" financeAmount" title="amount" (change)="this.inputAmount.set((this.eventToNumber($event)))"
            [value]="inputAmount()" />
        </section>
      </form>
    </div>
  </ng-container>

  <ng-container slot="footer">
    @if (dialogAction == 'Edit Finance') {
    <button class="danger" (click)="deleteFinance()">Delete</button>
    }

    <button class="primary" (click)="addFinance()">
      {{ dialogAction == "Add Finance" ? "Create" : "Update" }}
    </button>
  </ng-container>
</app-dialog>