<div class="header-actions">
  <button class="" (click)="addProject()">Add Project</button>
</div>

@if ($showEditProjectDialog(); as show) {
  <app-edit-project-dialog
    [openModal]="show"
    (onModalClose)="onCloseDialogEvent($event)"
    >
  </app-edit-project-dialog>
}

@if ($showEditTaskDialog(); as show) {
  <app-edit-task-dialog
    [openModal]="show"
    (onModalClose)="onCloseDialogEvent($event)"
    >
  </app-edit-task-dialog>
}

<div class="projects-container">
  @for (project of $projects(); track project) {
    <app-project-list [project]="project"></app-project-list>
  }
</div>
