@use "src/styles/global/colors" as global;
@use "src/styles/global/style" as style;

.box {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 780px) {
  .box {
    flex-direction: row;
    justify-content: center;
  }
}
