<div class="container" *ngIf="$vm() as data; else loading">
  <article class="custom-article">
    <header class="header-actions card-0">
      <button
        type="button"
        class="header-btn material-symbols-outlined"
        (click)="back()"
      >
        arrow_back_ios
      </button>

      <hgroup>
        <h3 class="title">{{ title }}</h3>
        <h2 class="subtitle">Finance Summary</h2>
      </hgroup>

      <button
        type="button"
        class="header-btn material-symbols-outlined"
        (click)="forward()"
      >
        arrow_forward_ios
      </button>
    </header>

    <ng-container *ngIf="data.summaryGraph?.summaries as items; else loading">
      <app-add-finance-dialog
        *ngIf="$selectedFinance() as selected"
        [openModal]="showEditDialog()"
        [selected]="selected"
        (onModalClose)="onCloseDialogEvent($event)"
      ></app-add-finance-dialog>

      <app-import-finance-dialog
        *ngIf="showImportDialog()"
        [openModal]="showImportDialog()"
        (onModalClose)="onCloseDialogEvent($event)"
      >
      </app-import-finance-dialog>

      <section class="summary card-0">
        <div
          class="category"
          *ngFor="let categorySummary of items; trackBy: trackByFinanceSummary"
        >
          <div class="summary-label">
            <span>
              {{ categorySummary.categoryName }}
              ({{ categorySummary.percentage }})
            </span>

            <span class="currency" content="sdad">
              {{ categorySummary.total }}
            </span>
          </div>

          <div
            [style.width]="categorySummary.percentage"
            [style.max-width]="categorySummary.percentage"
            [style.background]="categorySummary.color"
            class="amount-bar"
          ></div>
        </div>
      </section>
    </ng-container>

    <footer class="card-0 flex">
      <button (click)="openDialogAddFinance()">Add Expense</button>
      <button (click)="openDialogImport()">Import</button>
    </footer>
  </article>

  <article
    class="finances-by-weekly flex-col card-0"
    *ngIf="data.financesByWeekly as weeks; else loading"
  >
    <header
      *ngIf="weeks.length"
      class="flex flex-1 flex-col divide-y divide-solid"
    >
      <hgroup>
        <h3 class="title">Expenses</h3>
        <h2 class="subtitle">{{ data.summaryGraph?.total }}</h2>
      </hgroup>
    </header>

    <section class="finances flex flex-col gap-4" *ngIf="weeks.length > 0">
      <details
        class="finance-list"
        *ngFor="let summary of weeks; let idx = index"
        [open]="idx == 0 ? true : false"
      >
        <summary
          class="bg-slate-200 p-2 dark:bg-slate-600 divide-red-300 hover:bg-slate-400 cursor-pointer rounded-md"
        >
          <span class="font-semibold">
            {{ summary.categoryName }}
          </span>

          <span class="currency">
            {{ summary.total }}
          </span>
        </summary>

        <!-- weekly expense items -->
        <div
          class="flex flex-col divide-y divide-solid divide-red-700 gap-x-4"
        >
          <div
            class="p-2 hover:bg-slate-300 cursor-pointer columns-4"
            (click)="openDialogAddFinance(finance.id)"
            *ngFor="let finance of summary.items; trackByFinanceViewModel"
          >
            <div
              class="amount"
              [class.credit]="finance.isCredit"
              [class.debit]="!finance.isCredit"
            >
              {{ finance.amountFormatted }}
            </div>

            <div>{{ finance.dateFormatted }}</div>
            <div>{{ finance.name }}</div>

            <!-- category badge -->
            <div>
              <span
                class="badge"
                [style.backgroundColor]="finance.categoryColour"
              >
                {{ finance.categoryLabel }}
              </span>
            </div>
          </div>
        </div>
      </details>
    </section>

    <footer></footer>
  </article>
</div>

<ng-template #loading>
  <div class="summary">
    <div class="container">
      <div class="category" style="background: #8a8a8a; width: 100%">
        <span class="name">Loading</span>

        <div>
          <span style="float: right">0.0</span>
          <span style="float: left">Loading</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>
