<!-- <div class="container" *ngIf="$vm() as data; else loading"> -->
<div class="container">
  <article class="custom-article">
    <header class="card-0 header-actions">
      <button
        type="button"
        class="header-btn material-symbols-outlined"
        (click)="setDateWindow(false)"
      >
        arrow_back_ios
      </button>

      <hgroup>
        <h3 class="title">{{ title }}</h3>
        <h2 class="subtitle">Finance Summary</h2>
      </hgroup>

      <button
        type="button"
        class="header-btn material-symbols-outlined"
        (click)="setDateWindow(true)"
      >
        arrow_forward_ios
      </button>
    </header>

    @if ($vm(); as data) {
    <ng-container *ngIf="data.summaryGraph?.summaries as items">
      <app-add-finance-dialog
        *ngIf="$selectedFinance() as selected"
        [openModal]="showEditDialog()"
        [selected]="selected"
        (onModalClose)="onCloseDialogEvent($event)"
      ></app-add-finance-dialog>

      <app-import-finance-dialog
        *ngIf="showImportDialog()"
        [openModal]="showImportDialog()"
        (onModalClose)="onCloseDialogEvent($event)"
      >
      </app-import-finance-dialog>

      <section class="summary card-0">
        <div
          class="category"
          *ngFor="let categorySummary of items; trackBy: trackByFinanceSummary"
        >
          <div class="summary-label">
            <span>
              {{ categorySummary.categoryName }}
              ({{ categorySummary.percentage }})
            </span>

            <span class="currency" content="sdad">
              {{ categorySummary.total }}
            </span>
          </div>

          <div
            [style.width]="categorySummary.percentage"
            [style.max-width]="categorySummary.percentage"
            [style.background]="categorySummary.color"
            class="amount-bar"
          ></div>
        </div>
      </section>
    </ng-container>
    }

    <footer class="card-0 flex">
      <button (click)="openDialogAddFinance()">Add Expense</button>
      <button (click)="openDialogImport()">Import</button>
    </footer>
  </article>

  @if($vm(); as data) {
  <article>
    @if (data.financesByWeekly; as d2) { @if (d2.length > 0) {
    <h1>Weekly Expenses!!</h1>
    <summary-view [finances]="d2"></summary-view>
    } }
  </article>

  <article
    class="finances-by-weekly flex-col card-0"
    *ngIf="data.financesByWeekly as weeks"
  >
    <header
      *ngIf="weeks.length"
      class="flex flex-1 flex-col divide-y divide-solid"
    >
      <hgroup class="flex justify-between items-center mb-4">
        <h2 class="text-lg">Expenses</h2>
        <h2 class="text-lg">{{ data.summaryGraph?.total }}</h2>
      </hgroup>
    </header>

    <section class="finances flex flex-col gap-4" *ngIf="weeks.length > 0">
      <details
        class="finance-list"
        *ngFor="let summary of weeks; let idx = index"
        [open]="idx == 0 ? true : false"
      >
        <summary
          class="hover:bg-slate-200 hover:dark:bg-zinc-700 cursor-pointer border-b-2 border-zinc-700 p-2 text-lg"
        >
          {{ summary.categoryName }}
          {{ summary.total }}
        </summary>

        <!-- weekly expense items -->
        <div
          class="flex flex-col divide-y divide-solid divide-slate-200 dark:divide-zinc-800 gap-x-4 rounded-lg"
        >
          <div
            class="p-2 hover:bg-slate-300 dark:hover:bg-zinc-800 cursor-pointer columns-4"
            (click)="openDialogAddFinance(finance.id)"
            *ngFor="let finance of summary.items; trackByFinanceViewModel"
          >
            <div
              class="amount"
              [class.credit]="finance.isCredit"
              [class.debit]="!finance.isCredit"
            >
              {{ finance.amountFormatted }}
            </div>

            <div>{{ finance.dateFormatted }}</div>
            <div>{{ finance.name }}</div>

            <!-- category badge -->
            <div>
              <span
                class="badge"
                [style.backgroundColor]="finance.categoryColour"
              >
                {{ finance.categoryLabel }}
              </span>
            </div>
          </div>
        </div>
      </details>
    </section>

    <footer></footer>
  </article>
  }
</div>
