<div
  class="container"
  *ngIf="summaries$ | async as summaries; else loading"
>
  <article class="custom-article">
    <header class="header-actions">
      <button
        type="button"
        class="secondary material-symbols-outlined"
        (click)="back()"
      >
        arrow_back_ios
      </button>

      <hgroup>
        <h3>{{ title }}</h3>
        <h2>Finance Summary</h2>
      </hgroup>

      <button
        type="button"
        class="secondary material-symbols-outlined"
        (click)="forward()"
      >
        arrow_forward_ios
      </button>
    </header>

    <ng-container *ngIf="financeData$ | async as financeData; else loading">
      <app-add-finance-dialog
        *ngIf="$$selectedFinance() as selected"
        [openModal]="showEditDialog()"
        [selected]="selected"
        (onModalClose)="onCloseDialogEvent($event)"
      ></app-add-finance-dialog>

      <app-import-finance-dialog
        *ngIf="showImportDialog()"
        [openModal]="showImportDialog()"
        (onModalClose)="onCloseDialogEvent($event)"
      >
      </app-import-finance-dialog>

      <section class="summary">
        <div
          class="category"
          *ngFor="
            let categorySummary of summaries.summaries;
            trackBy: trackByFinanceSummary
          "
        >
          <div class="summary-label">
            <span>
              {{ categorySummary.categoryName }}
              ({{ categorySummary.percentage }})
            </span>

            <span class="week-total">
              {{ categorySummary.total }}
            </span>
          </div>

          <div
            [style.width]="categorySummary.percentage"
            [style.max-width]="categorySummary.percentage"
            [style.background]="categorySummary.colour"
            class="amount-bar"
          ></div>
        </div>
      </section>
    </ng-container>

    <footer>
      <button (click)="openDialogAddFinance()">Add Expense</button>
      <button (click)="openDialogImport()">Import</button>
    </footer>
  </article>

  <article
    class="custom-article"
    *ngIf="financeData$ | async as financeData; else loading"
  >
  <header>
      <hgroup>
        <h3>Expenses</h3>
        <h2>{{ financeData[0].total}}</h2>
      </hgroup>
  </header>
    <section class="finances">
      <details
        class="finance-list"
        *ngFor="let summary of financeData; let idx = index"
        [open]="idx == 0 ? true : false"
      >
        <summary>
          <span>
            {{ summary.categoryName }}
          </span>

          <span>
            {{ summary.total }}
          </span>
        </summary>

        <div class="custom-list">
          <div
            class="grid list-item action"
            (click)="openDialogAddFinance(finance.id)"
            *ngFor="let finance of summary.items; trackByFinanceViewModel"
          >
            <div
              class="amount"
              [class.credit]="finance.isCredit"
              [class.debit]="!finance.isCredit"
            >
              {{ finance.amountFormatted }}
            </div>

            <div class="date">{{ finance.dateFormatted }}</div>

            <span class="label">{{ finance.name }}</span>

            <span class="categoryBadge">
              <span
                class="badge no-outline small"
                [style.backgroundColor]="finance.categoryColour"
              >
                {{ finance.categoryLabel }}
              </span>
            </span>
          </div>
        </div>
      </details>
    </section>
    
    <footer>

    </footer>
  </article>
</div>

<ng-template #loading>
  <div class="summary">
    <div class="container">
      <div class="category" style="background: #8a8a8a; width: 100%">
        <span class="name">Loading</span>

        <div>
          <span style="float: right">0.0</span>
          <span style="float: left">Loading</span>
        </div>
      </div>
    </div>
  </div>
</ng-template>
