<div class="project-list example-container card-0">
  <article class="custom-article">
    <header>
      <div>
        <span class="title">{{ project().title }}</span>
        <span class="description">{{ project().description }}</span>
      </div>

      <div class="toolbar">
        <small>
          {{ project().code }}
        </small>
        <button
          name="Settings"
          class="btn-flat header-btn"
          (click)="openDialog(project().id)"
          >
          <span class="material-symbols-outlined highlight">settings</span>
        </button>
      </div>
    </header>

    <div class="article-body">
      <div class="custom-list flat">
        @for (task of project().tasks; track task) {
          <app-task
            class="action"
            [task]="task"
            [projectCode]="project().code"
            >
          </app-task>
        }
      </div>
    </div>

    <footer>
      <div class="toolbar">
        <button
          name="Settings"
          class="btn-flat header-btn"
          (click)="addTaskToProject()"
          >
          <span

          class="material-symbols-outlined highlight">Add</span>
        </button>
      </div>

    </footer>
  </article>
</div>
