.project-list {
  @apply m-4 p-5 rounded-lg shadow-lg;

  article {
    header {
      display: flex;
      justify-content: space-between;

      .font-code {
        flex-flow: row-reverse;
        gap: 0.75rem;
      }

      .title {
        font-weight: 400;
        font-size: large;
        display: block;
      }
      .description {
        font-size: small;
        font-weight: 300;
      }
    }
  }
}
