@use "src/styles/abstracts/colors" as colors;
@use "src/styles/abstracts/constants" as constants;

.project-list {
  article {
    header {
      display: flex;
      justify-content: space-between;

      .font-code {
        flex-flow: row-reverse;
        gap: 0.75rem;
      }

      .title {
        font-weight: normal;
        font-size: large;
        display: block;
      }
      .description {
        font-size: medium;
        font-weight: lighter;
        // font-weight: 100;
      }
    }

    .project-task-list {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin: 1rem 0.5rem;
    }
  }
}

@media screen and (max-width: constants.$media-sm) {
  .project-list > article {
    footer {
      padding-right: 1rem;
    }
  }
}
