<div class="project-list example-container">
  <article class="custom-article">
    <header>
      <hgroup>
        <span class="title">{{ project.title }}</span>
        <span class="description">{{ project.description }}</span>
      </hgroup>

      <div class="toolbar">
        <small>
          {{ project.code }}
        </small>
        <button
          name="Settings"
          class="btn-flat"
          (click)="openDialog(project.id)"
        >
          <span class="material-symbols-outlined highlight">settings</span>
        </button>
      </div>
    </header>

    <div class="article-body">
      <div class="custom-list flat">
        <ng-container *ngFor="let task of project.tasks">
          <app-task
            class="list-item action"
            [task]="task"
            [projectCode]="project.code"
          >
          </app-task>
        </ng-container>
      </div>
    </div>

    <footer>
      <div class="right-icon">
        <span
          class="material-symbols-outlined highlight"
          (click)="addTaskToProject()"
          >add
        </span>
      </div>
    </footer>
  </article>
</div>
