@use "src/styles/global/colors" as colors;
@use "src/styles/global/style" as style;
@use "src/styles/global/card";
@use "src/styles/global/custom-card";

.project-list {
  margin: style.$margin-global-1;
}

.card-content-block {
  padding: 0 0.5rem 0 1rem;
}

.custom-card {
  .title {
    display: grid;
    grid-auto-flow: row !important;
    justify-content: unset !important;

    div {
      justify-content: space-between;
      display: flex;
    }
  }
}

.list {
  color: colors.$color-text-light;
  min-width: style.$task-width;

  .list-item {
    padding: style.$padding-row;

    .drag-handle {
      width: 10px;
      background: #8a8a8a;
      flex-grow: 0 !important;
      flex: none;
    }

    .custom-row-item {
      flex-grow: 1;
    }
  }
}

.cdk-drag-preview {
  background: white;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.project-task-item:last-child {
  border: none;
}

.list.cdk-drop-list-dragging .project-task-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

@media screen and (max-width: 844px) {
  .project-list {
    margin: 0;
  }

  .list {
    min-width: inherit;

    .list-item {

      .custom-row-item {
        border-radius: 0.3rem;
        border-style: solid;
      }

      .drag-handle {
        display: none;
      }
    }
  }
}
