@use "src/styles/abstracts/constants" as style;
@use "src/styles/abstracts/colors" as colors;

.task {
  padding: 1rem 0.5rem;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: var(--bg3);
  border: solid 1px var(--border-color);

  .title {
    font-size: medium;
  }

  .content {
    color: #7a7e85;
    font-size: small;
    display: block;
  }

  .status-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0.5rem;
    margin-left: auto;

    gap: 0.5rem;
  }
}

.priority {
  display: block;
  &.lowest {
    color: #5992ff;
  }

  &.medium {
    color: #cbae27;
  }

  &.high {
    color: #ff773d;
  }

  &.highest {
    color: #e86767;
  }
}
