<div class="project-task-item {{ task.state }}">

  <mat-checkbox
    [checked]="task.state == 3"
    (change)="onTaskToggle($event.checked)"
  >
  </mat-checkbox>

  <mat-form-field class="example-form-field" appearance="standard">
    <input
      matInput
      type="text"
      [formGroup]="formGroup"
      [formControl]="formGroup.controls.name"
      id="title-{{ task.id }}"
      name="title-{{ task.id }}"
      placeholder="Input title"
    >
  </mat-form-field>

  <button mat-icon-button [cdkMenuTriggerFor]="menu">
    <mat-icon color="secondary">more_horiz</mat-icon>
  </button>
</div>

<ng-template #menu>
  <div class="example-menu" cdkMenu>
    <button mat-flat-button
            class="example-menu-item"
            (click)="openDialog()">
      Edit
    </button>

    <button mat-flat-button
            class="example-menu-item"
            (click)="onDelete(task.id)">
      Delete
    </button>
  </div>
</ng-template>
