@use "src/styles/abstracts/colors" as colors;
@use "src/styles/abstracts/constants" as style;
@use "src/styles/abstracts/fonts" as fonts;

.task-controls {
  padding: 0.5rem 1rem;
  // padding: 0.8rem;

  .task-information {
    // margin-bottom: 0.4rem;

    .task-title {
      // font-weight: 500;
    }

    .task-content {
      word-break: break-word;
      // font-size: 0.8rem;
    }
  }

  .task-status {
    // gap: 0.4rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    .badge {
      margin-left: auto;
    }
  }
}


.task-status {
  font-size: small;
  border-radius: 4px;

  .priority {
    // height: inherit;
    // background: colors.$app-bg-main-lighter;
    // font-size: inherit;

    &.lowest {
      color: #5992ff;
    }

    &.medium {
      color: #cbae27;
    }

    &.high {
      color: #ff773d;
    }

    &.highest {
      color: #e86767;
    }
  }
}

