@use "src/styles/global/colors";
@use "src/styles/global/style" as style;

.project-task-item.TASK_ARCHIVED input[type="text"] {
  color: colors.$color-archived;
  text-decoration: line-through;
}

.project-task-item {
  margin-left: 1rem;
  margin-right: 0.5rem;

  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: flex-start;

  button {
    width: auto;
  }
}

mat-form-field {
  padding-left: 10px;
  flex-grow: 1;
}

.example-menu {
  border-style: solid;
  border-width: 2px;
  display: inline-flex;
  flex-direction: column;
  min-width: 100px;
  background-color: white;
  padding: 6px 0;
  box-shadow: style.$box-shadow;
}

.example-menu .example-menu-item {
  width: 100%;
  border-radius: 0;
  text-align: left;
}

.example-menu-item:hover {
  background-color: rgb(208, 208, 208);
}

.example-menu-item:active {
  background-color: rgb(170, 170, 170);
}

.example-standalone-item {
  background-color: rgb(239, 239, 239);
}
.example-standalone-item:hover {
  background-color: rgb(208, 208, 208);
}

.task-controls {
  width: 100%;
  display: flex;
  align-items: center;

  .align-left {
    display: flex;
    align-items: flex-start;
    padding-left: 1rem;
  }

  .stretch {
    width: 100%
  }

  .align-left {
    align-items: end;
  }
}

.status-text {
  font-size: 0.8rem;
  font-weight: 500;
  white-space: nowrap;
  padding: 0 0.2rem;
  border-radius: 0px;
}

.todo{
  background: #a4a4a4;
  color: white;
}

.in-progress{
  background: #ffdd3d;
  color: white;
}

.blocked {
  background: #e86767;
  color: white;
}

.done {
  background: #58dc66;
  color: white;
}
