<div class="project-task-item {{ task.state }}">

  <div class="task-controls">
    <mat-checkbox
      [checked]="task.state == 3"
      (change)="onTaskToggle($event.checked)">
    </mat-checkbox>

    <div class="align-left">
      <!--  Priority Low, Standard, High -->
      <!--  <mat-icon color="secondary">keyboard_double_arrow_down</mat-icon>-->
      <!--  <mat-icon color="secondary">minimize</mat-icon>-->
      <!--  <mat-icon color="secondary">keyboard_double_arrow_up</mat-icon>-->
    </div>

    <div class="stretch">
      <!--      <mat-form-field class="example-form-field" appearance="standard">-->
      <!--        <input-->
      <!--          matInput-->
      <!--          type="text"-->
      <!--          [formGroup]="formGroup"-->
      <!--          [formControl]="formGroup.controls.name"-->
      <!--          id="title-{{ task.id }}"-->
      <!--          name="title-{{ task.id }}"-->
      <!--          placeholder="Input title"-->
      <!--        >-->
      <!--      </mat-form-field>-->
      <span>{{ task.name }}</span>
    </div>

    <ng-container [ngSwitch]="task.state">
      <span *ngSwitchCase="0" class="status-text todo">Todo</span>
      <span *ngSwitchCase="1" class="status-text in-progress">In progress</span>
      <span *ngSwitchCase="2" class="status-text blocked">Blocked</span>
      <span *ngSwitchCase="3" class="status-text done">Done</span>
    </ng-container>

    <div>
      <button mat-icon-button [cdkMenuTriggerFor]="menu">
        <mat-icon color="secondary">more_vert</mat-icon>
      </button>
    </div>
  </div>
</div>

<ng-template #menu>
  <div class="example-menu" cdkMenu>
    <button mat-flat-button
            class="example-menu-item"
            (click)="openDialog()">
      Edit
    </button>

    <button mat-flat-button
            class="example-menu-item"
            (click)="onDelete(task.id)">
      Delete
    </button>
  </div>
</ng-template>
