@use "src/styles/global/colors" as colors;
@use "src/styles/global/style" as style;

body {
  color: #2f2f2f;
  background: #1f2023;
  margin: 0;
  padding: 0;
}

nav {

}

main {
  margin-left: 5rem;
}

.navbar {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background: colors.$toolbar-bg;

  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;

    li {
      width: 100%;

      .nav-item {
        color: #1f1f1f;
        height: 5rem;

        .icon-button {
          display: block;
        }

        .title {
          transition: color 200ms ease-in;
          margin-left: 0;
          font-weight: bold;
          pointer-events: none;
          height: 5rem;
          line-height: 5rem;
          position: relative;
          top: -3rem;
          color: colors.$transparent;
        }

        &:hover {
          .title {
            display: block;
            color: colors.$color-text-dark;
          }
        }
      }

      &:last-child {
        margin-top: auto;
      }
    }
  }
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: auto;
  }

  .navbar-nav {
    flex-direction: row !important;

    li {

      .nav-item {
        height: 3rem !important;

        .title {
          display: none !important;
        }

      }

      &:last-child {
        margin-top: 0 !important;
      }
    }
  }

  main {
    margin: 0;
  }
}
