<nav class="navbar">
  <div class="navbar-content">
    <span (click)="toggleSidebar()" class="navbar-item">
      <span class="icon-button material-symbols-outlined">menu</span>
    </span>
  </div>
</nav>

<div
  class="sidebar"
  *ngIf="user && user.id != 0"
  [ngClass]="{ 'closed': !sidebarOpen, 'open': sidebarOpen }"
>
  <ul class="sidebar-items">
    <li>
      <div class="nav-item">
        <button
          class="icon-button fill"
          routerLink="/projects"
          routerLinkActive="active"
        >
          <span class="material-symbols-outlined">library_books</span>
        </button>

        <div class="title">Projects</div>
      </div>
    </li>

    <li>
      <div class="nav-item">
        <button
          class="icon-button fill"
          routerLink="/finance"
          routerLinkActive="active"
        >
          <span class="material-symbols-outlined">account_balance</span>
        </button>
        <div class="title">Finance</div>
      </div>
    </li>

    <li>
      <div class="nav-item">
        <button
          class="icon-button fill"
          routerLink="/calendar"
          routerLinkActive="active"
        >
          <span class="material-symbols-outlined">calendar_month</span>
        </button>
        <div class="title">Calendar</div>
      </div>
    </li>

    <li>
      <div class="nav-item">
        <button class="icon-button fill" (click)="userLogout()">
          <span class="material-symbols-outlined">logout</span>
        </button>
        <div class="title">Logout</div>
      </div>
    </li>
  </ul>
</div>

<ng-container *ngIf="$sub1 | async as x; else notLoggedIn">
  <main>
    <router-outlet></router-outlet>
  </main>
</ng-container>

<ng-template #notLoggedIn>
  <main>
    <router-outlet></router-outlet>
  </main>
</ng-template>
