<ng-container *ngIf="$user() as user; else notLoggedIn">
  <nav>
    <ul>
      <li>{{ title }}</li>
    </ul>
    <ul>
      <li>
        <a href="/projects" [attr.active]="path == '/projects' ? '' : null">
          <!-- Project -->
          <span class="material-symbols-outlined">library_books</span>
        </a>
      </li>
      <li>
        <a href="/finance" [attr.active]="path == '/finance' ? '' : null">
          <!-- Finance -->
          <span class="material-symbols-outlined">account_balance</span>
        </a>
      </li>
      <li>
        <a href="/calendar" [attr.active]="path == '/calendar' ? '' : null">
          <!-- Calendar -->
          <span class="material-symbols-outlined">calendar_month</span>
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/logout">
          <span class="material-symbols-outlined">logout</span>
        </a>
      </li>
    </ul>
  </nav>

  <main>
    <router-outlet></router-outlet>
  </main>
</ng-container>

<ng-template #notLoggedIn>
  <main class="contianer">
    <router-outlet></router-outlet>
  </main>
</ng-template>
