@use "src/styles/global/colors" as colors;
@use "src/styles/global/style" as style;

body {
}

.container {
  width: 100%;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  height: 100vh;

  .toolbar {
    color: colors.$color-text-dark;
    background: colors.$toolbar-bg;
    border-bottom: solid;
    border-width: 1px;
    font-size: style.$font-large;
    //box-shadow: style.$box-shadow;
    height: auto;

    .toolbar-buttons {
      flex: 1 1 auto;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-left: 0.8rem;
    }
  }

  .mat-sidenav-container {
    height: inherit;

    .mat-nav-list {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      width: 4rem;
      height: inherit;
      border-width: style.$border-width-large;
      border-style: none solid none none;
      background: colors.$toolbar-bg;

      button {
        width: inherit;
        height: auto;
        padding: 1rem 0 1rem;
      }
    }
  }
}

.mat-drawer-container {
  background: none;
}
