<app-dialog [isVisible]="isVisible">
  <article>
    <header>
      <p>
        <strong>Bulk Import</strong>
      </p>
    </header>

    <div class="custom-form">
      <div>
        <form [formGroup]="bulkImportForm">
          <label>Input</label>

          <textarea
            [formControl]="bulkImportForm.controls.input"
            type="text"
            style="min-height: 200px"
          >
          </textarea>

          <label>Date</label>
          <div class="right-icon"></div>
          <input
            type="date"
            title="date"
            [formControl]="bulkImportForm.controls.date"
            class="form-control"
          />
        </form>

        <div class="parsed-display scrollable-div">
          <div *ngFor="let v of test$ | async">
            {{ v.date }}
            {{ "$" + v.amount }}
            {{ v.name }}
          </div>
        </div>
      </div>
    </div>

    <footer class="actions">
      <button (click)="closeDialog()">Cancel</button>

      <div>
        <!-- <button class="primary" (click)="addFinance()"> -->
        <!-- {{ dialogAction == "Add Finance" ? "Create" : "Update" }} -->
        <!-- </button>  -->
      </div>
    </footer>
  </article>
</app-dialog>
