<app-dialog
  [isVisible]="openModal()"
  [fullScreen]="fullScreen()"
  (onModalClose)="onModalClose.emit(false)"
  >
  <ng-container slot="header">
    <h2 class="title">{{ $title() }}</h2>
  </ng-container>

  <ng-container slot="content">
    <div class="custom-form">
      <form [formGroup]="calendarEventForm">
        <section>
          <label
            >Name

            <input
              name="calendarEventName"
              [formControl]="calendarEventForm.controls.title"
              type="text"
              title="name"
              [class.invalid]="inputInvalid(calendarEventForm.controls.title)"
              />

            @if (inputInvalid(calendarEventForm.controls.title)) {
              <span>
                Name is required
              </span>
            }
          </label>

          <label
            >Color

            <input
              name="calendarEventName"
              [formControl]="calendarEventForm.controls.color"
              type="color"
              title="color"
              [class.invalid]="inputInvalid(calendarEventForm.controls.color)"
              />

            @if (inputInvalid(calendarEventForm.controls.color)) {
              <span>
                Color is required
              </span>
            }
          </label>

          <div class="row seperator">
            <label
              >Date
              <input
                name="calendarEventName"
                [formControl]="calendarEventForm.controls.date"
                type="date"
                title="date"
                [class.invalid]="inputInvalid(calendarEventForm.controls.date)"
                />
              @if (inputInvalid(calendarEventForm.controls.date)) {
                <span>
                  Date is required
                </span>
              }
            </label>

            <label
              >Time

              <input
                name="calendarEventName"
                [formControl]="calendarEventForm.controls.time"
                type="text"
                title="name"
                [class.invalid]="inputInvalid(calendarEventForm.controls.time)"
                />

              @if (inputInvalid(calendarEventForm.controls.time)) {
                <span>
                  Required format in 24 hour time: 00:00, 23:59.
                </span>
              }
            </label>
          </div>
        </section>
      </form>
    </div>
  </ng-container>

  <ng-container slot="footer">
    @if (this.$isEdit(); as editing) {
      <button
        class="danger"
        (click)="this.deleteEvent()"
        >
        Delete
      </button>
    }

    <button
      class="primary"
      (click)="this.addEvent()"
      [disabled]="!this.calendarEventForm.valid"
      >
      {{ this.$isEdit() ? "Update" : "Add" }}
    </button>
  </ng-container>
</app-dialog>
