<app-dialog [isVisible]="openModal()" (onModalClose)="onModalClose.emit(false)" [fullScreen]="fullScreen()">
  <ng-container slot="header">
    <h1 class="text-xl">Bulk Import</h1>
  </ng-container>

  <ng-container slot="content">
    <form [formGroup]="bulkImportForm" class="custom-form">
      <section>
        <label> Input </label>
        <textarea name="InputData" [formControl]="bulkImportForm.controls.input" type="text">
        </textarea>

        <label> Date </label>
        <input type="date" title="date" [formControl]="bulkImportForm.controls.date" class="form-control" />
      </section>
    </form>

    <section>
      <div class="grid grid-cols-3 gap-2 m-2">
        @for (v of test$ | async; track v) {
        <span>{{ v.name }}</span>
        <span>＄{{ v.amount }} </span>
        <span> 📅 {{ v.date | date: 'short'}} </span>
        }
      </div>
    </section>
  </ng-container>

  <ng-container slot="footer">
    <button type="button" (click)="applyExample()">Import Example</button>
    <button class="primary" (click)="addFinanceBulk()" [disabled]="!$importDataIsValid()">
      Import
    </button>
  </ng-container>
</app-dialog>