<app-dialog
  [isVisible]="openModal"
  (onModalClose)="onModalClose.emit(false)"
  [fullScreen]="fullScreen"
>
  <ng-container slot="header">
    <h2 class="title">Bulk Import</h2>
    <h3 class="subtitle">Bulk Import</h3>
  </ng-container>

  <ng-container slot="content">
    <div class="bulk-import-form">
      <div class="custom-form">
        <form [formGroup]="bulkImportForm">
          <section>
            <label>
              Input
              <textarea
                name="InputData"
                [formControl]="bulkImportForm.controls.input"
                type="text"
              >
              </textarea>
            </label>

            <label>
              Date
              <input
                type="date"
                title="date"
                [formControl]="bulkImportForm.controls.date"
                class="form-control"
              />
            </label>
          </section>
        </form>
      </div>

      <div class="parsed-display scrollable-div">
        <ng-container *ngFor="let v of test$ | async">
          <span>{{ v.name }}</span>
          <span>＄{{ v.amount }} </span>
          <span> 📅 {{ v.date }} </span>
          <span> 🕑 {{ v.time }} </span>
        </ng-container>
      </div>
    </div>
  </ng-container>

  <ng-container slot="footer">
    <button type="button" (click)="applyExample()">Import Example</button>
    <button
      class="primary"
      (click)="addFinanceBulk()"
      [disabled]="!$importDataIsValid()"
    >
      Import
    </button>
  </ng-container>
</app-dialog>
