@use "src/styles/abstracts/mixins" as mixins;

.bulk-import-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .custom-form {
    @include mixins.card-shape;
    background-color: var(--bg2);
    flex-grow: 1;

    textarea {
      width: 100%;
    }
  }

  .parsed-display {
    font-size: small;

    .task-view {
      @include mixins.card-shape;
      background-color: var(--bg2);
      min-width: 250px;
      padding: 0.5rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}
