<div class="login-dialog">
  <form [formGroup]="form">
    <mat-form-field appearance="standard">
      <mat-label>Username</mat-label>
      <input matInput [formControl]="form.controls.username" type="text">
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Password</mat-label>
      <input matInput [formControl]="form.controls.password" type="password">
    </mat-form-field>

    <div>
      <button mat-button (click)="loginUser()" type="submit">Login</button>
    </div>
  </form>
</div>
