<app-dialog
  [isVisible]="true"
  [fullScreen]="fullScreen()"
  [hideCloseButton]="true"
  (onModalClose)="onModalClose.emit(false)"
>
  <ng-container slot="content">
    <div class="custom-form">
      <section>
        <form [formGroup]="form">
          <label>
            Username
            <input
              matInput
              [formControl]="form.controls.username"
              type="text"
            />
          </label>

          <label>
            Password
            <input
              matInput
              [formControl]="form.controls.password"
              type="password"
            />
          </label>
        </form>
      </section>
    </div>
  </ng-container>

  <ng-container slot="footer">
    <button class="primary" (click)="loginUser()" type="submit">Login</button>
  </ng-container>
</app-dialog>
